<section class="board">
  <div class="player">
    <img
      src="../../assets/DarthVader-TotC.jpg"
      alt="player profile image"
      class="profile-img"
    />
    <p class="username">Hanzo</p>
    <ul class="rounds">
      <li class="round"></li>
      <li class="round"></li>
      <li class="round"></li>
    </ul>
  </div>
  <div class="pazaak-grid">
    <div class="box-1 box" data-index-number="1">
      <span class="symbol symbol-1"></span>
    </div>
    <div class="box-2 box" data-index-number="2">
      <span class="symbol symbol-2"></span>
    </div>
    <div class="box-3 box" data-index-number="3">
      <span class="symbol symbol-3"></span>
    </div>
    <div class="box-4 box" data-index-number="4">
      <span class="symbol symbol-4"></span>
    </div>
    <div class="box-5 box" data-index-number="5">
      <span class="symbol symbol-5"></span>
    </div>
    <div class="box-6 box" data-index-number="6">
      <span class="symbol symbol-6"></span>
    </div>
    <div class="box-7 box" data-index-number="7">
      <span class="symbol symbol-7"></span>
    </div>
    <div class="box-8 box" data-index-number="8">
      <span class="symbol symbol-8"></span>
    </div>
    <div class="box-9 box" data-index-number="9">
      <span class="symbol symbol-9"></span>
    </div>
  </div>
  <div class="pazaak-grid">
    <div class="box-1 box" data-index-number="1">
      <span class="symbol symbol-1"></span>
    </div>
    <div class="box-2 box" data-index-number="2">
      <span class="symbol symbol-2"></span>
    </div>
    <div class="box-3 box" data-index-number="3">
      <span class="symbol symbol-3"></span>
    </div>
    <div class="box-4 box" data-index-number="4">
      <span class="symbol symbol-4"></span>
    </div>
    <div class="box-5 box" data-index-number="5">
      <span class="symbol symbol-5"></span>
    </div>
    <div class="box-6 box" data-index-number="6">
      <span class="symbol symbol-6"></span>
    </div>
    <div class="box-7 box" data-index-number="7">
      <span class="symbol symbol-7"></span>
    </div>
    <div class="box-8 box" data-index-number="8">
      <span class="symbol symbol-8"></span>
    </div>
    <div class="box-9 box" data-index-number="9">
      <span class="symbol symbol-9"></span>
    </div>
  </div>
  <div class="computer">
    <img
      src="../../assets/DarthVader-TotC.jpg"
      alt="computer profile image"
      class="profile-img"
    />
    <p class="computer-name">Computer</p>
  </div>
</section>
