.board {
  position: relative;
  min-height: 100vh;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: flex-start;
  background-image: url(../../assets/silver-955496_1280.jpg);
  flex-wrap: wrap;
}

.pazaak-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  min-width: 25%;
  min-height: 70vh;
  border: #212529 1px solid;
  margin: 2rem;
  position: relative;
  /* background-color: antiquewhite; */
}

.box {
  /* background-color: #495057; */
  max-width: 100%;
  max-height: 100%;
  border: #212529 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* color: #212529; */
}

.player,
.computer {
  width: 20%;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  position: relative;
  text-align: center;
  margin-top: 5.2rem;
}

.profile-img {
  width: 15rem;
  height: 15rem;
  /* margin: 15rem auto 0 auto; */
  margin: 2rem auto;
}

.username,
.computer-name {
  /* margin: 0 auto; */
  font-size: 1.2rem;
  text-align: center;
  /* position: absolute;
  left: 42%; */
}

.rounds {
  list-style: none;
  margin: 1rem;
}

.round {
  display: inline-block;
  background-color: #495057;
  /* background-color: #2b8a3e; */
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  margin: 0 1rem;
}

.round-win-player {
  box-shadow: inset 0 0 50px #51cf66, inset 20px 0 80px #2b8a3e,
    inset -20px 0 80px #51cf66, inset 20px 0 300px #2b8a3e,
    inset -20px 0 300px #51cf66, 0 0 50px #51cf66;
}

.round-win-computer {
  box-shadow: inset 0 0 50px #f03e3e, inset 20px 0 80px #c92a2a,
    inset -20px 0 80px #f03e3e, inset 20px 0 300px #c92a2a,
    inset -20px 0 300px #f03e3e, 0 0 50px #f03e3e;
}
