<section class="board">
  <div class="player">
    <strong class="pazaak-value">0</strong>
    <p class="turn-indicator turn"></p>
    <img
      src="../../assets/LukeSkywalker.jpg"
      alt="player profile image"
      class="profile-img"
    />
    <p class="username">Luke Skywalker</p>
    <ul class="rounds">
      <li class="round round-win-player"></li>
      <li class="round"></li>
      <li class="round"></li>
    </ul>
    <strong class="player-hand-text">Player's Hand</strong>
    <aside class="player-hand">
      <div class="card negative">
        <h3 class="number">-1</h3>
      </div>
      <div class="card negative">
        <h3 class="number">-1</h3>
      </div>
      <div class="card positive">
        <h3 class="number">+1</h3>
      </div>
      <div class="card positive">
        <h3 class="number">+1</h3>
      </div>
    </aside>
    <div class="player-buttons">
      <button class="game-btn start-game" (click)="startGame()">
        Start Game
      </button>
      <button class="game-btn end-turn">End Turn</button>
      <button class="game-btn stand">Stand</button>
      <button class="game-btn forfeit">Forfeit</button>
    </div>
  </div>
  <div class="pazaak-grid">
    <ng-container
      *ngFor="let _ of playerGrid.constructor(playerGrid.length); let i = index"
    >
      <div class="box">
        <div class="card">
          <h3 class="given-number">
            {{ playerGrid[i] }}
          </h3>
        </div>
      </div>
    </ng-container>
    <!-- <div class="box-1 box" data-index-number="1">
      <div class="card">
        <h3 class="given-number">1</h3>
      </div>
    </div>
    <div class="box-2 box" data-index-number="2">
      <span class="symbol symbol-2"></span>
    </div>
    <div class="box-3 box" data-index-number="3">
      <span class="symbol symbol-3"></span>
    </div>
    <div class="box-4 box" data-index-number="4">
      <span class="symbol symbol-4"></span>
    </div>
    <div class="box-5 box" data-index-number="5">
      <span class="symbol symbol-5"></span>
    </div>
    <div class="box-6 box" data-index-number="6">
      <span class="symbol symbol-6"></span>
    </div>
    <div class="box-7 box" data-index-number="7">
      <span class="symbol symbol-7"></span>
    </div>
    <div class="box-8 box" data-index-number="8">
      <span class="symbol symbol-8"></span>
    </div>
    <div class="box-9 box" data-index-number="9">
      <span class="symbol symbol-9"></span>
    </div> -->
  </div>
  <div class="pazaak-grid">
    <ng-container *ngFor="let _ of [].constructor(0); let i = index">
      <div class="box-1 box" data-index-number="1">
        <div class="card">
          <h3 class="given-number">{{ i + 1 }}</h3>
        </div>
      </div>
    </ng-container>
    <!-- <div class="box-1 box" data-index-number="1">
      <span class="symbol symbol-1"></span>
    </div>
    <div class="box-2 box" data-index-number="2">
      <span class="symbol symbol-2"></span>
    </div>
    <div class="box-3 box" data-index-number="3">
      <span class="symbol symbol-3"></span>
    </div>
    <div class="box-4 box" data-index-number="4">
      <span class="symbol symbol-4"></span>
    </div>
    <div class="box-5 box" data-index-number="5">
      <span class="symbol symbol-5"></span>
    </div>
    <div class="box-6 box" data-index-number="6">
      <span class="symbol symbol-6"></span>
    </div>
    <div class="box-7 box" data-index-number="7">
      <span class="symbol symbol-7"></span>
    </div>
    <div class="box-8 box" data-index-number="8">
      <span class="symbol symbol-8"></span>
    </div>
    <div class="box-9 box" data-index-number="9">
      <span class="symbol symbol-9"></span>
    </div> -->
  </div>
  <div class="computer">
    <strong class="pazaak-value">10</strong>
    <p class="turn-indicator"></p>
    <img
      src="../../assets/DarthVader-TotC.jpg"
      alt="computer profile image"
      class="profile-img"
    />
    <p class="computer-name">Darth Vader</p>
    <ul class="rounds">
      <li class="round round-win-computer"></li>
      <li class="round"></li>
      <li class="round"></li>
    </ul>
    <strong class="computer-hand-text">Computer's Hand</strong>
    <aside class="computer-hand">
      <div class="card hybrid">
        <h3 class="number">&#177;1</h3>
      </div>
      <div class="card negative">
        <h3 class="number">-1</h3>
      </div>
      <div class="card positive">
        <h3 class="number">+1</h3>
      </div>
      <div class="card negative">
        <h3 class="number">-1</h3>
      </div>
    </aside>
  </div>
</section>
