<section class="board">
  <div class="player">
    <strong class="pazaak-value">{{ playerPazaakVal }}</strong>
    <p class="turn-indicator" [ngClass]="playerTurn ? 'turn' : ''"></p>
    <img
      src="../../assets/profilepictures/BenKenobi.jpg"
      alt="player profile image"
      class="profile-img"
    />
    <p class="username">
      {{ playerName }} (W: {{ playerWins }}, L: {{ playerLosses }})
    </p>
    <ul class="rounds">
      <li
        class="round"
        [ngClass]="{ 'round-win-player': playerRoundWins >= 1 }"
      ></li>
      <li
        class="round"
        [ngClass]="{ 'round-win-player': playerRoundWins >= 2 }"
      ></li>
      <li
        class="round"
        [ngClass]="{ 'round-win-player': playerRoundWins >= 3 }"
      ></li>
    </ul>
    <strong class="player-hand-text">Player's Hand</strong>
    <aside class="player-hand" [ngClass]="playerStand ? 'player-stands' : ''">
      <div
        class="card"
        [ngClass]="clickedCardOne ? cardOneColor + ' disable' : cardOneColor"
        (click)="addCardToGridPlayer(playerHand[0])"
      >
        <h3 class="number">{{ playerHand[0] }}</h3>
      </div>
      <div
        class="card"
        [ngClass]="clickedCardTwo ? cardTwoColor + ' disable' : cardTwoColor"
        (click)="addCardToGridPlayer(playerHand[1])"
      >
        <h3 class="number">{{ playerHand[1] }}</h3>
      </div>
      <div
        class="card"
        [ngClass]="
          clickedCardThree ? cardThreeColor + ' disable' : cardThreeColor
        "
        (click)="addCardToGridPlayer(playerHand[2])"
      >
        <h3 class="number">{{ playerHand[2] }}</h3>
      </div>
      <div
        class="card"
        [ngClass]="clickedCardFour ? cardFourColor + ' disable' : cardFourColor"
        (click)="addCardToGridPlayer(playerHand[3])"
      >
        <h3 class="number">{{ playerHand[3] }}</h3>
      </div>
    </aside>
    <div class="player-buttons" [ngClass]="cardsGone ? 'cards-gone' : ''">
      <button class="game-btn start-game" (click)="startGame()" appStartGame>
        Start Game
      </button>
      <button class="game-btn end-turn" (click)="endTurn()">End Turn</button>
      <button class="game-btn stand" (click)="playerStands()">Stand</button>
      <button class="game-btn quit" (click)="quitGame()">Quit Game</button>
    </div>
  </div>
  <div class="pazaak-grid">
    <ng-container
      *ngFor="let _ of playerGrid.constructor(playerGrid.length); let i = index"
    >
      <div class="box">
        <div class="card">
          <h3 class="number">
            {{ playerGrid[i] }}
          </h3>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="pazaak-grid">
    <ng-container
      *ngFor="
        let _ of computerGrid.constructor(computerGrid.length);
        let i = index
      "
    >
      <div class="box-1 box" data-index-number="1">
        <div class="card">
          <h3 class="number">{{ computerGrid[i] }}</h3>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="computer">
    <strong class="pazaak-value">{{ computerPazaakVal }}</strong>
    <p class="turn-indicator" [ngClass]="computerTurn ? 'turn' : ''"></p>
    <img
      src="../../assets/DarthVader-TotC.jpg"
      alt="computer profile image"
      class="profile-img"
    />
    <p class="computer-name">Computer</p>
    <ul class="rounds">
      <li
        class="round"
        [ngClass]="{ 'round-win-computer': computerRoundWins >= 1 }"
      ></li>
      <li
        class="round"
        [ngClass]="{ 'round-win-computer': computerRoundWins >= 2 }"
      ></li>
      <li
        class="round"
        [ngClass]="{ 'round-win-computer': computerRoundWins >= 3 }"
      ></li>
    </ul>
    <strong class="computer-hand-text">Computer's Hand</strong>
    <aside class="computer-hand">
      <div
        class="card unknown"
        [ngClass]="{ disable: computerHand.length <= 0 }"
      >
        <h3 class="number">?</h3>
      </div>
      <div
        class="card unknown"
        [ngClass]="{ disable: computerHand.length <= 1 }"
      >
        <h3 class="number">?</h3>
      </div>
      <div
        class="card unknown"
        [ngClass]="{ disable: computerHand.length <= 2 }"
      >
        <h3 class="number">?</h3>
      </div>
      <div
        class="card unknown"
        [ngClass]="{ disable: computerHand.length <= 3 }"
      >
        <h3 class="number">?</h3>
      </div>
    </aside>
  </div>
</section>
