<section class="match-history">
  <h1 class="heading">Match History</h1>
  <div class="matches">
    <ngb-accordion [closeOthers]="true">
      <ngb-panel
        id="static-{{ i + 1 }}"
        title="Match {{ i + 1 }}"
        *ngFor="let match of matches; let i = index"
      >
        <ng-template ngbPanelContent>
          <div class="match-info-headings">
            <strong class="match-id-heading">Match Id</strong>
            <strong class="result-heading">Match Result</strong>
            <strong class="match-date-heading">Match Date</strong>
          </div>
          <div class="match-info">
            <p class="match-id">{{ match.id }}</p>
            <p class="result">{{ match.result }}</p>
            <p class="match-date">{{ match.matchDate }}</p>
          </div>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
  <button class="return-main" routerLink="/">Return to Main Menu</button>
</section>
