.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-section {
  min-height: 30vh;
}

.heading {
  font-size: 4rem;
  /* color: #ffd43b; */
  color: #111315;
  /* -webkit-text-stroke: 1px #ffd43b; */
  text-shadow: 2px 0 0 #ffd43b, -2px 0 0 #ffd43b, 0 2px 0 #ffd43b,
    0 -2px 0 #ffd43b, 1px 1px #ffd43b, -1px -1px 0 #ffd43b, 1px -1px 0 #ffd43b,
    -1px 1px 0 #ffd43b;
}

.buttons-section {
  min-height: 30vh;
}

.register,
.login {
  font-size: 1.5rem;
  border: 4mm ridge #1864ab;
  cursor: pointer;
  margin: 1rem;
  padding: 0.5rem;
  background: none;
  color: #f8f9fa;
  z-index: 5;
}

.register:hover,
.login:hover {
  background-color: #339af0;
}
